

head {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    border-color: #cccccc;


}
.who{
    max-width: 33%;
    background-color: #4aaaa5;
   

}

hr{
    height: 5px;
}

body {
    background-image: url("../images/green_gobbler.png");
    color: #777777;
    border-color: #dddddd;
    border: 960px;
    box-sizing: border-box;
    

}

.nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #777777;
    align-content: left;
    

    
}
.aboutMe {
    color: #4aaaa5;
    font-size: larger;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    text-decoration: none;
    color: #ffffff; 
    align-content: left;
    
    
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: sticky;
}