
head {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
    border-color: #cccccc;


}

.top{ display: flex;
    width: 100%;
    

}

.aboutMe{
    padding-top: 20px;
    margin: 25px;
    font-size: 78px;
    font-weight: bold;
}

.contact{
    padding-top: 20px;
    margin: 25px;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5

}
.portfolio{
    padding-top: 20px;
    margin: 25px;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5
}
.firstProject{
    
}
input, textarea{
    width: 100%;
}
.form{
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 50px;
}
.name{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.submit{
    background: #4aaaa5;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    width: 15%;
}


.page{
    background: #ffffff;
    max-width: 960px;
    height: 500px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 43vh;

}
.who{
    max-width: 25%;
    background-color: #4aaaa5;
    flex: 1;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.content{
    
}

hr{
    height: 2px;
    background: #777777;
    border: none;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

body {
    background-image: url("../images/green_gobbler.png");
    color: #777777;
    border-color: #dddddd;
    border: 960px;
    box-sizing: border-box;


}

li{
    margin:5px;
    list-style-type: none;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: #777777;
    flex-wrap: wrap;
    flex: 1;
    
    
    
    

    
}
.image{
    height: 200px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
}
a:visited{
    color: #666666;

}
.aboutMe {
    color: #4aaaa5;
    font-size: larger;
}

img{
    float: left;

}

ul {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    text-decoration: none;
    color: #ffffff; 
    align-content: left;
    
    
}

.porImages{
    display: flex;
    justify-content: center;

}
.pr1Image{
    height: 150px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
}
.pr2Image{
    height: 150px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
}
.pr3Image{
    height: 150px;
    width: 200px;
    margin-left: 25px;
    margin-right: 25px;
}
footer{
    display: flex;
    flex-shrink: 0;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: sticky;
    text-align: center;
    width: 100%
    margin:0;
    padding:0;
}